.auth-container {
  max-width: 360px;
  margin: 0 auto;
  padding: 100px 20px;
}

.password-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.loading {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
