@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.app-container {
  .header-container {
    z-index: 10;
    height: 90px;
    display: flex;
    align-items: center;

    .navbar-nav {
      .nav-link {
        &.active {
          color: var(--bs-link-hover-color);
        }
      }
    }

    .bg-light {
      background-color: transparent !important;
    }
  }

  .main-container {
    height: calc(100vh - 90px);
    overflow: auto;
  }
}

.homepage-container {
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    transform: translateY(-5vw);
  }
}

.homepage-content {
  padding: 160px 80px;
  max-width: 50%;

  h1 {
    font-size: 64px;
    margin-bottom: 24px;
  }

  p {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  .btn-mi-primary {
    font-size: 20px;
  }
}

.btn-mi-secondary {
  background-color: transparent;
  border: 1px solid #262627;
  border-radius: 4px;
  margin-right: 16px;
  padding: 8px 16px;
}

.btn-mi-primary {
  color: #fff;
  background-color: #262627;
  border-radius: 4px;
  margin-right: 16px;
  padding: 8px 16px;
}

.file-label {
  display: flex;
  align-items: center;
  max-width: fit-content;
  cursor: pointer;

  & > svg {
    margin-right: 10px;
  }
}

.file-control {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fw-medium {
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
