.quiz-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;

  & > .card {
    display: flex;
    flex-direction: column;

    .card-body {
      margin-top: auto;
      flex-grow: 0;
    }
  }
}
